<!DOCTYPE html>
<html>
<head>
    <title>必得拍管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../Content/css/main.css">
    <link rel="stylesheet" href="../Content/css/bootstrap-table/bootstrap-datetimepicker.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>必得拍</h1>
        </div>
        <div class="login-box">
            <form class="login-form" id="formLogin">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>用户登录</h3>
                <div class="form-group">
                    <label class="control-label">用户名</label>
                    <input class="form-control" type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label class="control-label">密码</label>
                    <input class="form-control" type="password" id="password" name="password">
                </div>
                <div class="form-group">
                    <div class="utility">
                        <div class="animated-checkbox">
                            <label>
                                <input type="checkbox" id="cklogin" name="cklogin"><span class="label-text">自动登录</span>
                            </label>
                        </div>
                        <!--<p class="semibold-text mb-2"><a href="#" data-toggle="flip">忘记密码</a></p>-->
                    </div>
                </div>
                <div class="form-group btn-container">
                    <button type="button" class="btn btn-primary btn-block" id="btnLogin"><i class="fa fa-sign-in fa-lg fa-fw"></i>登  录</button>
                </div>
            </form>
            <form class="forget-form">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>忘记密码</h3>
                <div class="form-group">
                    <label class="control-label">邮箱</label>
                    <input class="form-control" type="text" placeholder="Email">
                </div>
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>重置密码</button>
                </div>
                <div class="form-group mt-3">
                    <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> 返回登录</a></p>
                </div>
            </form>
        </div>
    </section>
    <!-- Essential javascripts for application to work-->
    <script src="../Content/js/jquery-3.2.1.min.js"></script>
    <script src="../Content/js/popper.min.js"></script>
    <script src="../Content/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // Login Page Flipbox control
        $('.login-content [data-toggle="flip"]').click(function () {
            $('.login-box').toggleClass('flipped');
            return false;
        });
    </script>
    <script src="../Content/js/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../Content/js/bootstrap.common.js"></script>
    <script src="../Content/js/app/web/login.js"></script>
</body>
</html>